<img src=""/>

*Numpy Basics in one Class*

In [1]:
import numpy as np

# Create Array

In [2]:
myarr=np.array([[1,2,3,4,5]])

In [3]:
myarr

array([[1, 2, 3, 4, 5]])

In [4]:
myarr[0]

array([1, 2, 3, 4, 5])

In [5]:
myarr[0,1]

2

In [6]:
myarr.shape

(1, 5)

In [7]:
myarr.dtype

dtype('int32')

# Change Element in Array

In [8]:
myarr[0,1]=45

In [9]:
myarr

array([[ 1, 45,  3,  4,  5]])

# Array Method Conversion from other Python structures (e.g., lists, tuples)

In [10]:
listarr=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [11]:
listarr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [12]:
listarr.size

9

In [13]:
listarr.shape

(3, 3)

In [14]:
listarr.dtype

dtype('int32')

In [15]:
listarr[0,1]=45

In [16]:
listarr

array([[ 1, 45,  3],
       [ 4,  5,  6],
       [ 7,  8,  9]])

In [17]:
listarr[1,1]=45

In [18]:
listarr

array([[ 1, 45,  3],
       [ 4, 45,  6],
       [ 7,  8,  9]])

In [19]:
listarr[2,1]=45

In [20]:
listarr

array([[ 1, 45,  3],
       [ 4, 45,  6],
       [ 7, 45,  9]])

# Intrinsic NumPy Array CreationÂ¶

In [21]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [22]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [23]:
np.dtype

numpy.dtype

In [24]:
np.linspace(1,10,2)

array([ 1., 10.])

# Axis=0 (Row Wise) & Axis=1 (Column Wise)

In [25]:
a=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [26]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [27]:
a.sum(axis=0)

array([12, 15, 18])

In [28]:
a.sum(axis=1)

array([ 6, 15, 24])

In [29]:
a.ndim

2

In [30]:
a.nbytes

36

In [31]:
a.size

9

# Array Tranpose

In [32]:
b=np.array([[4,7,8],[9,10,11],[12,13,14]])

In [33]:
b.transpose

In [34]:
b.transpose()

array([[ 4,  9, 12],
       [ 7, 10, 13],
       [ 8, 11, 14]])

# Find max,min index no where max or min element exist and sort out for one dimension array

In [35]:
a=np.array([1,2,3,4,5])

In [36]:
a

array([1, 2, 3, 4, 5])

In [37]:
a.argmax

In [38]:
a.argmax()

4

In [39]:
a.argmin()

0

In [40]:
a.argsort()

array([0, 1, 2, 3, 4], dtype=int64)

# Find max,min index no where max or min element exist and sort out for two dimension array

In [41]:
a=np.array([[1,2,3],[12,13,14],[17,18,19]])

In [42]:
a

array([[ 1,  2,  3],
       [12, 13, 14],
       [17, 18, 19]])

In [43]:
a.argmin()

0

In [44]:
a.argmax()

8

In [45]:
a.argsort()

array([[0, 1, 2],
       [0, 1, 2],
       [0, 1, 2]], dtype=int64)

In [46]:
a.argmax(axis=0)

array([2, 2, 2], dtype=int64)

In [47]:
a.argmax(axis=1)

array([2, 2, 2], dtype=int64)

# # Find max,min index no where max or min element exist and sort out for two dimension unsorted array

In [48]:
a=np.array([[4,8,9],[5,17,2],[15,4,11]])

In [49]:
a

array([[ 4,  8,  9],
       [ 5, 17,  2],
       [15,  4, 11]])

In [50]:
a.argmax()

4

In [51]:
a.argmin()

5

In [52]:
a.argsort()

array([[0, 1, 2],
       [2, 0, 1],
       [1, 2, 0]], dtype=int64)

In [53]:
a.argmin(axis=0)

array([0, 2, 1], dtype=int64)

In [54]:
a.argmin(axis=1)

array([0, 2, 1], dtype=int64)

In [55]:
a.argmax(axis=1)

array([2, 1, 0], dtype=int64)

In [56]:
a

array([[ 4,  8,  9],
       [ 5, 17,  2],
       [15,  4, 11]])

In [57]:
a.argmax(axis=1)

array([2, 1, 0], dtype=int64)

In [58]:
a.argsort(axis=1)

array([[0, 1, 2],
       [2, 0, 1],
       [1, 2, 0]], dtype=int64)

In [59]:
a.argsort(axis=0)

array([[0, 2, 1],
       [1, 0, 0],
       [2, 1, 2]], dtype=int64)

# To make array straight

In [60]:
a=np.array([[4,7,8],[9,10,12],[12,14,5]])

In [61]:
a

array([[ 4,  7,  8],
       [ 9, 10, 12],
       [12, 14,  5]])

In [62]:
a.ravel()

array([ 4,  7,  8,  9, 10, 12, 12, 14,  5])

In [63]:
a.reshape(9,)

array([ 4,  7,  8,  9, 10, 12, 12, 14,  5])

# Sum and Multipication of two arrays ->Matrix Operation

In [64]:
a=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [65]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [66]:
b=np.array([[10,11,12],[13,14,15],[16,17,18]])

In [67]:
b

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

In [68]:
a+b

array([[11, 13, 15],
       [17, 19, 21],
       [23, 25, 27]])

In [69]:
a*b

array([[ 10,  22,  36],
       [ 52,  70,  90],
       [112, 136, 162]])

In [70]:
a/b

array([[0.1       , 0.18181818, 0.25      ],
       [0.30769231, 0.35714286, 0.4       ],
       [0.4375    , 0.47058824, 0.5       ]])

# Sqrt function

In [71]:
a=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [72]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [73]:
np.sqrt(a)

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974],
       [2.64575131, 2.82842712, 3.        ]])

# Find Min and Max number in Array

In [74]:
a=np.array([[1,4,5],[7,8,9],[40,50,60]])

In [75]:
a

array([[ 1,  4,  5],
       [ 7,  8,  9],
       [40, 50, 60]])

In [76]:
a.max()

60

In [77]:
a.min()

1

In [78]:
a.sum()

184

In [79]:
a.sort()

In [80]:
a

array([[ 1,  4,  5],
       [ 7,  8,  9],
       [40, 50, 60]])

# Find Element in array

In [81]:
a=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [82]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [83]:
np.where(a>5)

(array([1, 2, 2, 2], dtype=int64), array([2, 0, 1, 2], dtype=int64))

In [84]:
np.count_nonzero(a)

9

In [85]:
a.size

9

In [1]:
! jt -t monokai

# Numpy Documentation Link

# https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html